.App {
  text-align: center;
}

.App-logo {
  height: 900vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

p {
  font-family: 'Lato', sans-serif;
}

.anchors{
  font-family: 'Lato', sans-serif;
  color: white;
  text-decoration: none;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

}

a:hover {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: scale(1);
  opacity: 0.5;
}

a:visited {
  text-decoration: none;
}

.active {
  color: white;
  text-decoration: none;
  opacity: 0.5;
}
